<!DOCTYPE html>
<html>
<head>
  <title>Square Lite</title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
  <script src="/javascripts/jquery.js"></script>
</head>
<body>
 <section id="top">
   <div id="logo"><div id="mid"><div id="center"></div></div></div>

   <div id="words"><h1 id="name">Square Lite</h1>
   <h5 id="slogan">Make the work happen</h5></div>
  <h1 id="user_type">Owner Registration</h1>
 </section>
<hr>
 <section id="middle">
<form id="owner_sign" action="/sign" method="post">
<h5 class="slogan">Register a new owner</h5>
<label>First Name </label><br>
   <input class="registration" type="text" placeholder="First Name" name="name" required="Please fill out this field">
<br>
    <label>Last Name</label><br>
    <input class="registration" type="text" placeholder="Last Name" name="last_name" required="Please fill out this field">
<br>
   <label>User Email</label><br>
<input class="registration" type="text" placeholder="Email" name="email" required="Please fill out this field">
<br>
<label>Password</label><br>
<input class="registration" type="password" placeholder="Password" name="password" required="Please fill out this field">
<br>
<button id='owner' type="submit">Owner Registration</button>
</form>
</section>


 <div class="push"></div>
  </div>
<hr>
<footer style="font-size: 12px; text-align: center;">
<p id="rights">Trademarks | Terms of Use | Privacy | Cookie Policy | Brand
<br>
© 2018. All Rights Reserved - Square-Lite
<br>
Square-Lite is a trademark of Square Lite SL, registered in the U.S. and in other countries.</p>
</footer>
</body>
</html>
