<!DOCTYPE html>
<html>
<head>
  <title>Square Lite</title>
  <link rel="stylesheet" href="/stylesheets/style.css"/>
  <script src="../../javascripts/jquery.js"></script>
</head>
<body>
 <section id="top" style="float: left; margin-left: 25px;">
   <div id="logo"><div id="mid"><div id="center"></div></div></div>

   <div id="words"><h1 id="name">Square Lite</h1>
   <h5 id="slogan">Make the work happen</h5></div>

 </section>
<section id="error">
<h1 class=error_mssg>Sorry! Wrong username or password...</h1>
  <div id="cartoon"></div>

 <div id="solutions">
   <h1 class="back">Please <a class="color" href="/login">click here</a> to try again <br><br> Or enter your manager's email below to update/request credentials</h1>

<form action="" method="get">
  <input class="task_asw" name="manager_email" placeholder="  MANAGER'S EMAIL ADDRESS"><br>
  <br><button id="send_email" type="submit">Send Request</button>
</form>

 </div>

</section>

<div class="push"></div>
  </div>
<hr>
<footer style="font-size: 12px; text-align: center;">
<p id="rights">Trademarks | Terms of Use | Privacy | Cookie Policy | Brand
<br>
© 2018. All Rights Reserved - Square-Lite
<br>
Square-Lite is a trademark of Square Lite SL, registered in the U.S. and in other countries.</p>
</footer>
</body>
<script src="../../javascripts/script.js"></script>
</html>
