<!DOCTYPE html>
<html>
<head>
  <title>Square Lite</title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
  <script src="/javascripts/jquery.js"></script>
</head>
<body>
 <section id="top">
   <div id="logo"><div id="mid"><div id="center"></div></div></div>

   <div id="words"><h1 id="name">Square Lite</h1>
   <h5 id="slogan">Make the work happen</h5></div>
  <h1 id="user_type">User Space</h1>
 </section>
<hr>
 <section id="middle2">
<h1 class="titl">Manage projects with one tool</h1>

<p class="content">You don’t have to shuffle between spreadsheets
and other tools to keep your projects on course.
Track and manage everything—from day one to deadline—with Square-Lite.</p>

<form id="user_login" action="/user" method="post">
<h3 class="titles">Login here</h3>
<label>User Email</label><br>
<input class="registration" type="text" placeholder="Email" name="email" required="Please fill out this field">
<br>
<label>Password</label><br>
<input class="registration" type="password" placeholder="Password" name="password" required="Please fill out this field">
<br>
<button id='user' type="submit">Login</button>
</form>

<div class="info">
  <h3 class="titles">What is project management software?</h3>
<p class="contents">Project management software helps you plan, organize,
and manage projects from beginning to end.
Good project management software also acts as a collaboration tool
that simplifies communication, makes it easy to share goals,
coordinate work, give feedback, and provides a complete view of work
so people tackle the right tasks at the right time.</p>
</div>
</section>
<hr>
<footer style="font-size: 12px; text-align: center;">
<p id="rights">Trademarks | Terms of Use | Privacy | Cookie Policy | Brand
<br>
© 2018. All Rights Reserved - Square-Lite
<br>
Square-Lite is a trademark of Square Lite SL, registered in the U.S. and in other countries.</p>
</footer>
</body>
</html>
